<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Active orders</h1>

    <ul>
        <% for(var i = 0; i < orders.length; i++) { %>
        <li><%= orders[i].item_name %></li>
        <li><%= orders[i].email %></li>
        <a href="/delete-order/<%= orders[i].order_id %>">Delete</a>
        <% } %>
    </ul>

</body>
</html>